<header class="basemenu basemenu top">
    <div id="headLogo" class="basemenu top">
        <h1 class="basemenu top">Hormesis 4 Health</h1>
    </div>

    <div id="nav" class="basemenu top">
        <a class="waves-effect waves-light btn basemenu top transparent" data-block="#block1">Programme</a>
        <a class="waves-effect waves-light btn basemenu top transparent" data-block="#block2">Formations</a>
        <a class="waves-effect waves-light btn basemenu top transparent" data-block="#block3">Coach</a>
        <a class="waves-effect waves-light btn basemenu top transparent">Contact</a>
    </div>

</header>